*.hdb
*.cdb
*.tdf
*.bak
*.qmsg
*.kpt
*.hier_info
*.hif
*.hsd
*.ddb
*.tdb
*.flock
*.dcp
vivado/hackhaton/hackhaton.cache/*
vivado/hackhaton/hackhaton.hw/*
vivado/hackhaton/hackhaton.runs/*
vivado/hackhaton/hackhaton.gen/*
vivado/hackhaton/hackhaton.ip_user_files/*
vivado/hackhaton/hackhaton.sim/*
vivado/hackhaton/hackhaton.xpr
vivado/vivado_*
